*:root {
  font-size: 2rem;
  background-image: url('../images/3drenderpplgreenshapes.jpg')
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
}

/* Hero banner */

.hero {
  background-color: #7fe4a2;
  background-size: cover;
  background-position: center;
}

/* End hero banner */

/* Start navigation code */

nav {
  display: flex;
  align-items: center;
  text-shadow: 2px 2px black;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.name {
  color: whitesmoke;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

span {
  color: slateblue;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: whitesmoke;
  font-weight: bold;
}

nav ul li a:hover {
  color: slateblue;
  transition: 0.3s;
}

button {
  border: black 2px solid;
  background: slateblue;
  padding: 12px 30px;
  border-radius: 30px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

button a {
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
}

/* End navigation code */

/* Main content */

.content {
  width: 100%;
  display: inline-block;
  margin-left: 20px;
  padding: 20px;
  color: (0, 0, 0, 0.843);
  border-radius: 30%;
}

.about-container {
  position: fixed;
  left: 0;
  top: 10%;
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 1px 1px whitesmoke;
  /* overflow-y: scroll; */
}

.portfolio-section,
.krausfit-section {
  width: 75%;
  margin-left: 25%;
  text-shadow: 1px 1px whitesmoke;
}

#about {
  margin-bottom: 20px;
  padding: 10px;
  height: 350px;
  background-color: slateblue;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 25px;
  transition: 0.3s;
  border: #7fe4a2 solid 10px;
  border-radius: 25px;
}

#about:hover {
  background-color: rgba(0, 0, 0, 0.843);
  color: white;
}

#about p {
  width: 100%;
}

#portfolio {
  margin-bottom: 20px;
  padding: 50px;
  height: 400px;
  background-color: slateblue;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 25px;
  transition: 0.3s;
  border: #7fe4a2 solid 10px;
  border-radius: 25px;
}

#portfolio:hover {
  background-color: rgba(0, 0, 0, 0.843);
  color: white;
}

#portfolio p a {
  color: whitesmoke;
}

#kraus-fit {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: slateblue;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 25px;
  transition: 0.3s;
  border: #7fe4a2 solid 10px;
  border-radius: 25px;
}

#kraus-fit:hover {
  background-color: rgba(0, 0, 0, 0.843);
  color: white;
}

.float-right {
  max-height: 350px;
  max-width: 300px;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}

.float-right:hover {
  transform: scale(1.1);
}

.float-left {
  max-height: 350px;
  max-width: 300px;
  float: left;
  margin-right: 25px;
  margin-top: 25px;
}

.float-left:hover {
  transform: scale(1.1);
}

.headshot {
  max-height: 350px;
  max-width: 300px;
  align-self: center;
  position: relative;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: slateblue;
  transition: 0.3s;
  border: #7fe4a2 solid 10px;
  border-radius: 20%;
}

img {
  border-radius: 20%;
  float: right;
  padding: 20px;
}

/* End content code */

/* Footer code */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #7fe4a2;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.footer a {
  color: whitesmoke;
}

/* End footer */

/* Media queries */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* End Media queries */
