*:root{
    font-size: 2rem;
    background-color: silver;
    font-family: 'PT Sans', sans-serif;
}

header{
    background-color:seagreen;
    color:white;
    position: relative;
    padding: 8px;
    text-align: center;
}

.header-navigation {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
}

.navigation:hover{
    border-color: rgb(248, 252, 178);
    color: black;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    float: right;
    border: black 5px solid;
    margin: 50px;
    width: 27vh;
    height: 38vh;
}

section{
    width: 20vw;
    height: 30vh;
    background-color: rgba(225, 206, 189, 0.843);
    color: black;
    margin: 0%;
    padding: 20%;
    border: 6px solid black;
    position: relative;
}

article{
    display: block;
    text-align: left;
}

main{
    display: flex;
    flex-wrap: wrap;
}

